/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    background-color: #ffffff;
}


header,
main,
footer {
    max-width: var(--max-with);
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    height: 120px;
}

header h2 {
    font-size: 1.5rem;
}

/* Navigation */
header nav {
    background-color: #000;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav {
    padding: 15px 0;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 75rem 1rem border-radius 5px
}

/* Main Layout */
main {
    display: grid;
    grid-template-columns: 3fr 1.15fr;
    min-height: 260px;
}

.main-content {
    background-color: #d3d3d3;
    padding: 15px;
}

.main-content p,
aside p {
    font-size: 1.7rem;
}

aside {
    background-color: #ffffff;
    padding: 15px;
}

/* HERO */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 50%;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 10px;

    text-align: center;
    color: white;

    font-size: 3rem;
    font-family: var(--heading-font);

    background-color: rgba(0, 0, 0, .45);
    padding: 1rem;
}

.hero article {
    position: absolute;

    bottom: 20px;
    left: 50%;

    transform: translateX(-50%);

    width: 25%;
    max-width: 200px;

    background-color: rgba(255, 255, 255, .90);

    padding: 1rem;
}

.hero article h2 {
    margin-bottom: .5rem;
}

.hero article img {
    float: right;

    width: 180px;
    margin-left: 1rem;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding-top: 20px;
    height: 70px;
}